<?xml version="1.0"?>
<!--
/**
* Module configuration
*
* @author David Voisard
*/
-->
<config>
    <modules>
        <Swatch_ProductOutOfStockAlert>
            <version>0.0.1</version>
        </Swatch_ProductOutOfStockAlert>
    </modules>
    <global>
        <models>
            <swatch_productoutofstockalert>
                <class>Swatch_ProductOutOfStockAlert_Model</class>
                <resourceModel>swatch_productoutofstockalert_resource</resourceModel>
            </swatch_productoutofstockalert>
            <swatch_productoutofstockalert_resource>
                <class>Swatch_ProductOutOfStockAlert_Model_Resource</class>
                <entities>
                    <alert>
                        <table>productoutofstockalert</table>
                    </alert>
                </entities>
            </swatch_productoutofstockalert_resource>
        </models>
        <resources>
            <swatch_productoutofstockalert_setup>
                <setup>
                    <module>Swatch_ProductOutOfStockAlert</module>
                </setup>
            </swatch_productoutofstockalert_setup>
        </resources>
        <helpers>
            <swatch_productoutofstockalert>
                <class>Swatch_ProductOutOfStockAlert_Helper</class>
            </swatch_productoutofstockalert>
        </helpers>
        <blocks>
            <swatch_productoutofstockalert>
                <class>Swatch_ProductOutOfStockAlert_Block</class>
            </swatch_productoutofstockalert>
        </blocks>
    </global>
    <frontend>
        <routers>
            <productoutofstockalert>
                <use>standard</use>
                <args>
                    <module>Swatch_ProductOutOfStockAlert</module>
                    <frontName>productoutofstockalert</frontName>
                </args>
            </productoutofstockalert>
        </routers>
        <layout>
            <updates>
                <productoutofstockalert>
                    <file>productoutofstockalert.xml</file>
                </productoutofstockalert>
            </updates>
        </layout>
    </frontend>
    <default>
        <catalog>
            <productoutofstockalert>
                <enabled>1</enabled>
            </productoutofstockalert>
        </catalog>
    </default>
</config>

